body{
    font-family: 'Poppins', sans-serif;
}
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px!important;
    padding-right: 16px!important;
}
.navbar-toggler{
    outline: none!important;
}
.bg-black{
    background: #000;
}
/*===========Slider========*/
.carousel-item{
    height: 600px;
}
.carousel-image-1{
    background: linear-gradient(rgba(0,0,0,.3), rbga(0,0,0,.4)),
    url('./Images/watchpic.jpg');
    background-size:cover;
}
.carousel-image-2{
    background: linear-gradient(rgba(0,0,0,.3), rbga(0,0,0,.4)),
    url('./Images/heropic.png');
    background-size:cover;
}
.carousel-image-3{
    background: linear-gradient(rgba(0,0,0,.3), rbga(0,0,0,.4)),
    url('./Images/chickenpic.jpg');
    background-size:cover;
}