body{
    font-family: 'Poppins', sans-serif;
}
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px!important;
    padding-right: 16px!important;
}
.navbar-toggler{
    outline: none!important;
}
.bg-black{
    background: #000;
}
/*===========Slider========*/
.carousel-item{
    height: 600px;
}
.carousel-image-1{
    background-image: url('./images/watchpic.jpg');
    background-size:cover;
}
.carousel-image-2{
    background-image: url('images/heropic.png');
    background-size:cover;
}
.carousel-image-3{
    background-image: url('images/chickenpic.jpg');
    background-size:cover;
}
.title-color{
    color:#fff;
}
.btn-color{
    background:#000;
    color:#fff;
}
.btn-color:hover{
    color: gray;
    
}